<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/AlumniDB?createDatabaseIfNotExist=true&amp;useSSL=false</property>
        <property name="connection.username">abhisek</property>
        <property name="connection.password">Abhisek.1#</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="com.example.alumni.Bean.Student"/>
        <mapping class="com.example.alumni.Bean.Organisation"/>
        <mapping class="com.example.alumni.Bean.Alumni"/>
        <mapping class="com.example.alumni.Bean.AlumniOrganisation"/>
        <mapping class="com.example.alumni.Bean.AlumniEducation"/>
    </session-factory>
</hibernate-configuration>